Pillow
h5py
numpy
tqdm
dotmap
matplotlib # for visualization
scipy # for evaluation
tqdm==4.66.5
scikit-learn==1.1.3
ipython==8.12.0
jupyter==1.0.0
torch-ema==0.3
numpy==1.24.1
torch==2.4.1
torchvision
pytorch-lightning
omegaconf
wandb
lightning
einops
lightning-bolts
volumentations
plotly